html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;

}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}