.header-bg {
  background: #0F0F0F;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav {
  display: flex;
  font-size: 1.125rem;
  gap: 20px;
}

.nav a:hover {
  color: #483DF5;
  transition: .3s;
}

@media (max-width: 500px) {
  .header img {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
